<a href="https://colab.research.google.com/github/stakancheck/cu-colab-statistic/blob/main/cu_stat_hw01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 1. Классифицируй датасеты

## 1. (blue, баллы: 0.2) Типы датасетов
Определи тип каждого из датасетов.

   - Cross-section
   - Time Series
   - Panel Data

   - [Датасет 1](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_dataset1.csv)
   - [Датасет 2](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_dataset2.csv)
   - [Датасет 3](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_dataset3.csv)

**Решение**

1 – Cross-section, так как в датасете есть данные по разным объектам в неизвестный момент времени.

2 – Time Series, так как в датасете есть данные по одним и тем же объектам в разные моменты времени.

3 – Panel Data, так как в датасете есть данные по разным объектам в разные моменты времени.

In [1]:
# Твоё решение тут

## 2. (blue, баллы: 0.2) Примеры датасетов в реальной жизни.
Придумай примеры из реальной жизни датасетов каждого вида.

   - Cross-section
   - Time Series
   - Panel Data

**Решение**

**Cross-section:** Датасет соотвествия результатов экзаменов студентов их учебным группам.

**Time Series:** Датасет ключевой ставки ЦБ РФ за последние 10 лет, значение на каждый год.

**Panel Data:** Датасет с данными о количестве заказов разных товаров на маркетплейсе в разные дни сентября 2024 года.

In [3]:
# Твоё решение тут

# Задача 2. Прокомментируй различия типов данных

Дан [датасет](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_datatypes1.csv), состоящий из четырёх наблюдений и шести столбцов.

<table>
  <tr>
    <th>Age</th>
    <th>Salary</th>
    <th>Female</th>
    <th>Education Level</th>
    <th>No of Elementary School</th>
    <th>Favorite Color</th>
  </tr>
  <tr>
    <td>23</td>
    <td>30</td>
    <td>1</td>
    <td>1</td>
    <td>25</td>
    <td>blue</td>
  </tr>
  <tr>
    <td>30</td>
    <td>80</td>
    <td>1</td>
    <td>3</td>
    <td>3</td>
    <td>pink</td>
  </tr>
  <tr>
    <td>22</td>
    <td>15</td>
    <td>0</td>
    <td>2</td>
    <td>50</td>
    <td>yellow</td>
  </tr>
  <tr>
    <td>41</td>
    <td>80</td>
    <td>1</td>
    <td>3</td>
    <td>1544</td>
    <td>black</td>
  </tr>
</table>

Описание столбцов датасета:

- Age – возраст человека в годах.
- Salary – доход человека в тысячах рублей в месяц.
- Female – индикатор женского пола (1 – женщина, 0 – мужчина).
- Education Level – ступень образования (1 – нет оконченного высшего, 2 – оконченное высшее без учёной степени, 3 – кандидат или доктор наук или PhD).
- No of Elementary School – номер средней школы, из которой выпустился человек.
- Favorite Color – любимый цвет.

Для этого датасета выполни следующее:
1. (blue, баллы: 0.4) Определи тип данных каждого столбца.
2. (blue, баллы: 0.4) Столбец Age. Найдя разность 41 и 22, получим 19. Разумно ли сказать, что четвёртый человек на 19 лет старше третьего? Можно ли сказать, что второй человек старше первого?
3. (blue, баллы: 0.4) Столбец Female. Число 1 больше, чем число 0: осмысленно ли сказать, что пол второго человека «больше», чем пол первого? Можно ли сказать, во сколько раз? В бесконечность?
4. (blue, баллы: 0.4) Столбец Education Level. Можно ли сказать, что второй человек более образованный, чем первый, потому что 3 > 1? Можно ли сказать, что второй человек в три раза более образованный, чем первый?
5. (blue, баллы: 0.4) Столбец No of Elementary School. Можно ли сказать, что школа третьего человека вдвое отличается от школы первого человека, потому что 50 = 25 × 2? Можно ли сказать, что школа второго человека намного меньше школы первого? Можно ли сказать, что школа четвёртого человека очень отличается от школ первых троих, потому что 1544 намного больше 25, 3, 50?
6. (blue, баллы: 0.4) Столбец Favorite Color. Можно ли сказать, что цвет первого человека «больше», чем у второго? Во сколько раз больше?

## 1. (blue, баллы: 0.4) Типы данных в столбцах.
Определи тип данных каждого столбца.

**Решение**

1. Age – числовой.
2. Salary – числовой.
3. Female – неупорядоченный.
4. Education Level – упорядоченный.
5. No of Elementary School – неупорядоченный.
6. Favorite Color – неупорядоченный.

In [ ]:
# Твоё решение тут

## 2. (blue, баллы: 0.4) Столбец Age.
Найдя разность 41 и 22, получим 19. Разумно ли сказать, что четвёртый человек на 19 лет старше третьего? Можно ли сказать, что второй человек старше первого?

**Решение**

Четвёртый человек на 19 лет старше третьего, так как 41 - 22 = 19. Второй человек старше первого, так как 30 < 22. Да, можно сказать, такие операции уместны, так как тип данных числовой.

In [ ]:
# Твоё решение тут

## 3. (blue, баллы: 0.4) Столбец Female.
Число 1 больше, чем число 0: осмысленно ли сказать, что пол второго человека «больше», чем пол первого? Можно ли сказать, во сколько раз? В бесконечность?

**Решение**

Нет, нельзя делать такие выводы и проводить такие операции, они бессмысленны. Тип данных неупорядоченный. Мы можем ли заявить факт того, что какой-то человек обладает тем или иным полом и сгруппировать людей по одному полу.

In [ ]:
# Твоё решение тут

## 4. (blue, баллы: 0.4) Столбец Education Level.
Можно ли сказать, что второй человек более образованный, чем первый, потому что 3 > 1? Можно ли сказать, что второй человек в три раза более образованный, чем первый?

**Решение**

Мы можем сказать, что второй человек более образованный. Однако, проводить любые арифметические операции бессмысленно, так как эти данные упорядоченные.

In [ ]:
# Твоё решение тут

## 5. (blue, баллы: 0.4) Столбец No of Elementary School.
Можно ли сказать, что школа третьего человека вдвое отличается от школы первого человека, потому что 50 = 25 × 2? Можно ли сказать, что школа второго человека намного меньше школы первого? Можно ли сказать, что школа четвёртого человека очень отличается от школ первых троих, потому что 1544 намного больше 25, 3, 50?

**Решение**

Нет, нельзя делать такие выводы и проводить такие операции, они бессмысленны. Тип данных неупорядоченный. Мы можем лишь сгруппировать людей по номеру школы.

In [ ]:
# Твоё решение тут

## 6. (blue, баллы: 0.4) Столбец Favorite Color.
Можно ли сказать, что цвет первого человека «больше», чем у второго? Во сколько раз больше?

**Решение**

Нет, нельзя делать такие выводы и проводить такие операции, они бессмысленны. Тип данных неупорядоченный. Мы можем лишь сгруппировать людей по любимому цвету. Или, например, найти самый популярный цвет.

In [ ]:
# Твоё решение тут

# Задача 3. Найди описательные статистики по формулам

 Известны доходы в тысячах рублей первых четырёх клиентов $X$: 50, 30, 60, 60. Найди указанные ниже показатели и продемонстрируй не только финальный ответ, но и ход расчётов:
 - использованные математические формулы,
 - подставляемые в них числа.

Нельзя просто написать «после загрузки чисел в Python такой-то командой всё как-то само посчиталось».

Проинтерпретируй указанные ниже показатели, то есть объясни их смысл.

1. (blue, баллы: 0.5) Найди среднее и централизацию каждого клиента относительно среднего. Проинтерпретируй централизацию второго клиента. Напомним, что централизацией мы называем отклонение конкретного значения от среднего значения.
2. (blue, баллы: 0.5) Найди среднее абсолютное отклонение от среднего, размах и проинтерпретируй их.
3. (blue, баллы: 0.5) Найди смещённое стандартное отклонение.
4. (blue, баллы: 0.5) Найди медиану и проинтерпретируй её.
5. (blue, баллы: 0.5) Найди нижний и верхний квартили, 30%-персентиль и 0.8-квантиль. Проинтерпретируй нижний квартиль.
6. (blue, баллы: 0.5) Найди межквартильный размах и проинтерпретируй его.

## 1. (blue, баллы: 0.5) Среднее и централизация.
Найди среднее и централизацию каждого клиента относительно среднего. Проинтерпретируй централизацию второго клиента. Напомним, что централизацией мы называем отклонение конкретного значения от среднего значения.

**Решение**

**Интерпретация:** Централизация второго клиента равна -20, это означает, что доходы второго клиента на 20 тысяч рублей меньше среднего.

In [1]:
# Твоё решение тут
import numpy

# Данные
X = [50, 30, 60, 60]

# Среднее
mean = sum(X) / len(X)

# Централизация
centralization = [x - mean for x in X]

centralization

[0.0, -20.0, 10.0, 10.0]

## 2. (blue, баллы: 0.5) Среднее абсолютное отклонение и размах.
Найди среднее абсолютное отклонение от среднего, размах и проинтерпретируй их.

**Решение**

**Интерпретация:** Среднее абсолютное отклонение равно 10, это означает, что в среднем доходы клиентов отклоняются от среднего на 10 тысяч рублей. Размах равен 30, это означает, что разница между минимальным и максимальным доходом клиентов составляет 30 тысяч рублей.

In [3]:
# Твоё решение тут

# Среднее абсолютное отклонение MAD
mean_abs_dev = sum([abs(x - mean) for x in X]) / len(X)

# Размах
range_X = max(X) - min(X)

mean_abs_dev, range_X

(10.0, 30)

## 3. (blue, баллы: 0.5) Смещённое стандартное отклонение.
Найди смещённое стандартное отклонение.

**Решение**

In [4]:
# Твоё решение тут
import math

# Среднее квадратичное отклонение MSD
mean_sq_dev = sum([(x - mean) ** 2 for x in X]) / len(X)

# Смещённое стандартное отклонение
biased_st_dev = math.sqrt(mean_sq_dev)

biased_st_dev

12.24744871391589

## 4. (blue, баллы: 0.5) Медиана.
Найди медиану и проинтерпретируй её.

**Решение**

**Интерпретация:** Медиана равна 55, это означает, что половина клиентов имеют доходы менее 55 тысяч рублей, а другая половина — более 55 тысяч рублей.

In [5]:
# Твоё решение тут

# Медиана
x_sorted = sorted(X)
n = len(X)
median = x_sorted[n // 2] if n % 2 != 0 else (x_sorted[n // 2 - 1] + x_sorted[n // 2]) / 2

median

55.0

## 5. (blue, баллы: 0.5) Квантили.
Найди нижний и верхний квартили, 30%-персентиль и 0.8-квантиль. Проинтерпретируй нижний квартиль.

**Решение**

**Интерпретация:** нижний квартиль равен 45, это означает, что 25% клиентов имеют доходы менее 45 тысяч рублей.

In [7]:
# Твоё решение тут

# Нижняя и верхняя квартиль
q1 = numpy.percentile(X, 25)
q3 = numpy.percentile(X, 75)

# 30%-персентиль
p30 = numpy.percentile(X, 30)

# 0.8-квантиль
q8 = numpy.percentile(X, 80)

q1, q3, p30, q8

(np.float64(45.0), np.float64(60.0), np.float64(48.0), np.float64(60.0))

## 6. (blue, баллы: 0.5) Межквартильный размах.
Найди межквартильный размах и проинтерпретируй его.

**Решение**

**Интерпретация:** Межквартильный размах равен 15, это означает, что средние 50% значений доходов людей имеют разброс в 15 тысяч.

In [8]:
# Твоё решение тут

# Межквартильный размах
iqr = q3 - q1

iqr

np.float64(15.0)

# Задача 4. Проведи очистку данных и рассчитай статистики в «Питоне»

Датасет [duration.csv](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_duration.csv) содержит единственный столбец: время в секундах, проведённое
посетителем на сайте в течение одного сеанса, согласно серверным логам.

## 1. (blue, баллы: 1) Рассчитай описательные статистики.


Найди среднее, размах, смещённое стандартное отклонение, медиану, нижний и верхний квартили, межквартильный размах.

Не забудь очистить данные от явно ошибочных значений (например, 74393479 секунд, это больше 2 лет — явно ошибочное значение).

Подсказка: отсортируй числа и посмотри на начало и конец, а затем отфильтруй
явно неподходящие значения.

**Решение**

In [3]:
# Твоё решение тут

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/zalig/cu-datasets/main/01_duration.csv")

# Проверим "мусор"
# df['duration'].sort_values().tail()

df = df[(df['duration'] >= 0) & (df['duration'] < 1000)][['duration']]


def Q1(x):
    return x.quantile(0.25)


def Q3(x):
    return x.quantile(0.75)


def std_n(x):
    return x.std(ddof=0)


def IQR(x):
    return Q3(x) - Q1(x)


def rng(x):
    return max(x) - min(x)


df.agg(["mean", std_n, "median", Q1, Q3, IQR])

          duration
mean     66.967742
std_n   121.547677
median    7.000000
Q1        1.500000
Q3       24.500000
IQR      23.000000

# Задача 5. Проведи расчёты для кейса «Золотая жила»

Датасет [golden_mine.csv](https://raw.githubusercontent.com/zalig/cu-datasets/main/golden_mine.csv) содержит данные для кейса [«Золотая жила»](https://raw.githubusercontent.com/zalig/cu-datasets/main/case_1_golden_mine.pdf). В нём потребуется с помощью датасета найти наиболее прибыльные категории клиентов (пользователей платформы изучения иностранного языка).

В этом домашнем задании нужно познакомиться с датасетом и провести некоторые расчёты в нём. Целиком кейс пока решать не нужно.
Подробности кейса — в информационной системе.

Описание столбцов датасета:
- Gender — пол клиента;
- Age — возраст клиента в годах;
- Age Group — возрастная группа;
- Payments — общая сумма платежей от игрока в рублях за всё время существования платформы;
- Costs — себестоимость оказанных клиенту услуг в рублях за всё время существования платформы;
- Profit — разница между Payments и Costs.

Задания:

1. (blue, баллы: 1) Найди и сравни среднюю прибыль в категориях «Женщины до 24 лет» и «Мужчины до 24 лет».
2. (blue, баллы: 1) Для этих двух категорий найди абсолютную частоту клиентов, прибыль платформы с которых 60 тысяч рублей или больше, и сравни их.
3. (red, баллы: 1) Найди те же харакетристики (среднюю прибыль и частоту прибыли 60 тысяч рублей и больше) для каждой категории пола и возрастной группы и сравни между категориями. Подсказка: не забудь про очистку данных.

## 1. (blue, баллы: 1) Средние по категориям.
Найди и сравни среднюю прибыль в категориях «Женщины до 24 лет» и «Мужчины до 24 лет».

**Решение**

**Описание:** средняя прибыль в категории "Женщины до 24 лет" выше, чем в категории "Мужчины до 24 лет".

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/zalig/cu-datasets/main/golden_mine.csv")
df

      Payments  Costs  Profit  Age  Gender AgeGroup
0         9400   8100    1300   19    male    18-24
1        26600  13900   12700   29    male    25-39
2         9750   6750    3000   20    male    18-24
3        29700  11200   18500   18  female    18-24
4        49700  10450   39250   21  female    18-24
...        ...    ...     ...  ...     ...      ...
8710      8650   8600      50   18    male    18-24
8711     45350  14350   31000   19  female    18-24
8712     41700   9900   31800   18  female    18-24
8713    120600  49650   70950   21    male    18-24
8714     21700  13150    8550   33  Female    25-39

[8715 rows x 6 columns]

In [10]:
# Твоё решение тут

female_df = df[(df['Age'] < 24) & (df['Gender'] == 'female')]
male_df = df[(df['Age'] < 24) & (df['Gender'] == 'male')]

female_mean_profit = int(female_df['Profit'].mean().round())
male_mean_profit = int(male_df['Profit'].mean().round())

pd.DataFrame([['Женщины до 24 лет', female_mean_profit], ['Мужчины до 24 лет', male_mean_profit]],
             columns=['Группа', 'Средняя прибыль'])

              Группа  Средняя прибыль
0  Женщины до 24 лет            26152
1  Мужчины до 24 лет            12327

## 2. (blue, баллы: 1) Абсолютные частоты.
Для этих двух категорий найди абсолютную частоту клиентов, прибыль платформы с которых 60 тысяч рублей или больше, и сравни их.

**Решение**

**Описание**: Абсолютная частота мужчин до 24 лет, делающих покупки свеше 60 тысяч рублей для

In [17]:
# Твоё решение тут

female_count = len(female_df[female_df['Profit'] > 60])
male_count = len(male_df[male_df['Profit'] > 60])

pd.DataFrame([['Женщины до 24 лет', female_count], ['Мужчины до 24 лет', male_count]],
             columns=['Группа', 'Абсолютная частота'])

              Группа  Абсолютная частота
0  Женщины до 24 лет                2598
1  Мужчины до 24 лет                3041

## 3. (red, баллы: 1) Средние и абсолютные частоты по категориям.
Найди те же харакетристики (среднюю прибыль и частоту прибыли 60 тысяч рублей и больше) для каждой категории пола и возрастной группы и сравни между категориями. Подсказка: не забудь про очистку данных.

**Решение**

In [ ]:
# Твоё решение тут

# Задача 6. Проведи математические преобразования

Про каждое из утверждений обоснуй, почему оно верно для любых значений $X_{i}$, или обоснуй, что оно неверно при некоторых значениях $X_{i}$, где $i = 1, \dots, n$, причём $n \geqslant 2$.

1. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}X_{i} = n \cdot \overline{X}$.
2. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}X_{i} = n \cdot X_{i}$.
3. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}\overline{X} = n \cdot \overline{X}$.
4. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}(X_{i} - \overline{X}) = 0$.
5. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}|X_{i} - \overline{X}| = 0$.
6. (blue, баллы: 0.2) $\sum\limits _{i=1}^{n}(X_{i} - \overline{X})^{2} = 0$.
7. (red, баллы: 0.2) $\sum(X_{i} - \overline{X})^{2} = \sum X_{i}^{2} - n \cdot \overline{X}^{2}$.  
  Подсказка: сначала воспользуйся формулой $(a-b)^{2} = a^{2} - 2ab + b^{2}$.
8. (red, баллы: 0.2) $\sum\limits _{i=1}^{n}X_{i}^{2} = \left(\sum\limits _{i=1}^{n}X_{i}\right)^{2}$.
9. (red, баллы: 0.2) $\overline{X^{2}} = \overline{X}^{2}$, где $\overline{X^{2}} = \frac{1}{n}\sum\limits _{i=1}^{n}X_{i}^{2}$.
10. (black, баллы: 0.2) $\overline{XY} = \overline{X} \cdot \overline{Y}$, где $\overline{XY} = \frac{1}{n}\sum\limits _{i=1}^{n}X_{i}Y_{i}$.

## 1. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}X_{i} = n \cdot \overline{X}$

**Решение**

In [ ]:
# Твоё решение тут

##2. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}X_{i} = n \cdot X_{i}$

**Решение**

In [ ]:
# Твоё решение тут

## 3. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}\overline{X} = n \cdot \overline{X}$

**Решение**

In [ ]:
# Твоё решение тут

## 4. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}(X_{i} - \overline{X}) = 0$

**Решение**

In [ ]:
# Твоё решение тут

## 5. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}|X_{i} - \overline{X}| = 0$

**Решение**

In [ ]:
# Твоё решение тут

## 6. (blue, баллы: 0.2)
$\sum\limits _{i=1}^{n}(X_{i} - \overline{X})^{2} = 0$

**Решение**

In [ ]:
# Твоё решение тут

## 7. (red, баллы: 0.2)
$\sum(X_{i} - \overline{X})^{2} = \sum X_{i}^{2} - n \cdot \overline{X}^{2}$.
  Подсказка: сначала воспользуйся формулой $(a-b)^{2} = a^{2} - 2ab + b^{2}$.

**Решение**

$$
\begin{align}
\sum(X_i-\overline{X})^2 = \sum X_i^2 - n \cdot \overline{T}^2 \\
\sum(X_i^2-2X_i\overline{X}+\overline{X}^2) = \sum X_i^2 - n \cdot \overline{T}^2 \\
\sum X_i^2 - 2\cdot n \cdot \overline{X}^2 + n \cdot \overline{T}^2
= \sum X_i^2 - n \cdot \overline{T}^2 \\
\sum X_i^2 - n \cdot \overline{T}^2 = \sum X_i^2 - n \cdot \overline{T}^2 \\
\end{align}
$$

In [1]:
# Твоё решение тут

## 8. (red, баллы: 0.2)
$\sum\limits _{i=1}^{n}X_{i}^{2} = \left(\sum\limits _{i=1}^{n}X_{i}\right)^{2}$

**Решение**

$$
\begin{gathered}
\sum^{n}_{i=1} X_i^2 = (\sum^{n}_{i=1} X_i)^2 \\
X_1^2 + X_3^2 + X_4^2 + ... X_n^2 = (X_1 + X_2 + X_3 + ... + X_n)^2 \\
\text{Объективно неверное выражение}
\end{gathered}
$$

In [ ]:
# Твоё решение тут

## 9. (red, баллы: 0.2)
$\overline{X^{2}} = \overline{X}^{2}$, где $\overline{X^{2}} = \frac{1}{n}\sum\limits _{i=1}^{n}X_{i}^{2}$

**Решение**

In [ ]:
# Твоё решение тут

## 10. (black, баллы: 0.2)
$\overline{XY} = \overline{X} \cdot \overline{Y}$, где $\overline{XY} = \frac{1}{n}\sum\limits _{i=1}^{n}X_{i}Y_{i}$

**Решение**

In [ ]:
# Твоё решение тут

# Задача 7. Исследуй устойчивость описательных статистик

Датасет состоит из пяти строк и одного столбца «Доход человека в тысячах рублей в месяц». Значения в столбце: 30, 170, 27, 40, 82.

1. (red, баллы: 0.2) Можно ли, изменив лишь одно наблюдение, сделать средний доход равным 200?
2. (red, баллы: 0.5) Какие значения медианы можно получить, изменив лишь одно наблюдение?
3. (red, баллы: 0.2) Прокомментируй.

## 1. (red, баллы: 0.2) Изменения среднего.
Можно ли, изменив лишь одно наблюдение, сделать средний доход равным 200?

**Решение**

Да, можно
$$
\begin{gathered}
X = \{30; 170; 27; 40; 82\} \\
\overline{X} = \frac{30+170+27+40+82}{5} = 69,8 \\
\\
\text{Пусть новое наблюдение будет равно x} \\
x+170+27+40+82=1000\\
x = 1000 - 170-27-40-82\\
x = 681
\end{gathered}
$$

In [ ]:
# Твоё решение тут

## 2. (red, баллы: 0.5) Изменения медианы.
Какие значения медианы можно получить, изменив лишь одно наблюдение?

**Решение**
   

При изменении отдельного одного наблюдения медиана будет: $ 30 \leq m \leq 82$.

In [ ]:
# Твоё решение тут

## 3. (red, баллы: 0.2) Прокомментируй.

**Решение**

Медиана это значение, которое находится посередине в упорядоченном по не убыванию ряду. Следовательно, если мы поменяв какое-либо значение мы можем либо изменить текущее медианное значение на любое в диапазоне от значения до медианы и после. Либо мы можем заменить значение, чтобы ряд сместился. Максимальное смещение будет на одну позицию при изменении одного наблюдения, значит, что мы можем получить медианную равную значению справа или слева от медианного. Из этого следует, что при изменении отдельного одного наблюдения медиана будет: $ 30 \leq m \leq 82$.

In [ ]:
# Твоё решение тут

# Задача 8. Проинтерпретируй показатели

В этой задаче пункты не связаны друг с другом. В каждом пункте дана таблица, описывающая датасет.

- Объясни, что показывают выделенные числа.
- Если возможно, сделай выводы о датасете.

В части выводов проверяться будет использование имеющихся данных для обоснования вывода, а также наличие здравого смысла в рассуждениях.

## 1. (red, баллы: 0.5) Интерпретация таблицы с данными.
Напиши интерпретацию выделенных (двух) чисел в таблице. Какие выводы можно сделать на основании представленных в таблице данных? Разрешается проводить дополнительные расчёты.

   <table>
       <thead>
           <tr>
               <th></th>
               <th>неуд.</th>
               <th>удовл.</th>
               <th>хор.</th>
               <th>отл.</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>группа 1</td>
               <td><strong><em>5</em></strong></td>
               <td>10</td>
               <td>8</td>
               <td>2</td>
           </tr>
           <tr>
               <td>остальные группы</td>
               <td>20</td>
               <td><strong><em>40</em></strong></td>
               <td>80</td>
               <td>20</td>
           </tr>
       </tbody>
   </table>

**Решение**

**Группа 1**
$\frac{5}{10+8+2+5} \cdot 100% = 20%$ 20% Учеников не усвоили материал и получили неудовлетворительные отметки. Материал или подачу лекции стоит обновить, так как замечена неуспеваемость большого количества студентов.

**Остальные группы**
$\frac{40}{20+40+80+20} \cdot 100% = 25%$ 25% Учеников остальных групп сдали экзамен на удовлетворительную отметку.

In [ ]:
# Твоё решение тут


## 2. (red, баллы: 0.5) Интерпретация таблицы с описательными статистиками.
Напиши интерпретацию выделенных четырёх чисел в таблице. Какие выводы можно сделать на основании представленных в таблице данных?

   <table>
       <thead>
           <tr>
               <th></th>
               <th>mean</th>
               <th>sd</th>
               <th>Q1</th>
               <th>med</th>
               <th>Q3</th>
               <th>min</th>
               <th>max</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>такси</td>
               <td>39</td>
               <td>22</td>
               <td>29</td>
               <td>31</td>
               <td><strong><em>57</em></strong></td>
               <td>25</td>
               <td><strong><em>76</em></strong></td>
           </tr>
           <tr>
               <td>общественный транспорт</td>
               <td><strong><em>40</em></strong></td>
               <td>5</td>
               <td>37</td>
               <td><strong><em>39</em></strong></td>
               <td>43</td>
               <td>34</td>
               <td>47</td>
           </tr>
       </tbody>
   </table>

**Решение**

**Такси**
- Верхний квартиль равен 57. Это означает, что 75% поездок на такси составляют не более 57 минут. 
- Максимальное время поездки на такси равно 76 минутам. Это означает, что самая долгая поездка на такси длилась 76 минут.

**Общественный транспорт**
- Среднее время поездки на общественном транспорте равно 40 минут. Это означает, что в среднем люди проводят 40 минут в общественном транспорте.
- Медиана времени поездки на общественном транспорте равна 39 минутам. Это означает, что половина поездок на общественном транспорте занимает не более 39 минут.

In [ ]:
# Твоё решение тут


## 3. (red, баллы: 0.5) Выводы на основе таблицы.
Какие выводы можно сделать на основе таблицы?

   <table>
       <thead>
           <tr>
               <th></th>
               <th>mean</th>
               <th>sd</th>
               <th>Q1</th>
               <th>med</th>
               <th>Q3</th>
               <th>min</th>
               <th>max</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Время, проведённое посетителями на главной странице сайта (в секундах)</td>
               <td>3478</td>
               <td>2048</td>
               <td>1.3</td>
               <td>1.8</td>
               <td>120</td>
               <td>-98</td>
               <td>96783</td>
           </tr>
       </tbody>
   </table>

**Решение*

- Минимальное значение времени проведённое на главной странице сайта равно -98 секунд. Это означает, что некоторые посетители провели на сайте отрицательное количество времени. Вероятно, это ошибка в данных.
- Стандартное отклонение равно 2048 секундам или примерно 35 минут. Это означает, что время, проведённое на сайте, сильно разнообразно.
- 25% посетителей провели на сайте не более 1.3 секунды, а медиана равна 1.8 секунды. Так как различия во времени между медианой и первым квартилем незначительны, можно сделать вывод, что около половины посетитей проводят на сайте менее 2 секунд, то есть сразу выходят.
- Верхний квартиль равен 120 секундам. Это означает, что четверть посетителей провели на сайте не более 20 минут, заинтересовались им.

In [ ]:
# Твоё решение тут

# Задача 9. Продумай подход к очистке данных

Мы хотим проанализировать суммы заказов клиентов из Москвы и Ростова-на-Дону. Все денежные суммы измеряются в рублях. Есть [датасет](https://raw.githubusercontent.com/zalig/cu-datasets/main/01_dirty_five_orders.csv):

<table>
    <thead>
        <tr>
            <th>City</th>
            <th>Age</th>
            <th>Orders</th>
            <th>OrdersSum</th>
            <th>OrdersCount</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Moscow</td>
            <td>23</td>
            <td>500,800,200,1200</td>
            <td>2700</td>
            <td>4</td>
            <td></td>
        </tr>
        <tr>
            <td>MOSCOW</td>
            <td></td>
            <td>3000</td>
            <td>3000</td>
            <td>1</td>
            <td>Доп. заказ на 1000 руб.</td>
        </tr>
        <tr>
            <td>Rostov-on-Don</td>
            <td>22</td>
            <td>-23482934,300,200</td>
            <td>-23482434</td>
            <td>3</td>
            <td></td>
        </tr>
        <tr>
            <td>RostovOnDon</td>
            <td>-234</td>
            <td>12342134,23423,23493</td>
            <td>93457</td>
            <td>-324</td>
            <td></td>
        </tr>
        <tr>
            <td>Tver</td>
            <td>41</td>
            <td>200,300,100</td>
            <td>1</td>
            <td>3</td>
            <td>Доп. заказ на 500 руб.</td>
        </tr>
    </tbody>
</table>

(red) Как подойти к очистке этого датасета? Составь таблицу с итоговой версией датасета после очистки.

## (red, баллы: 1) Очистка датасета.

**Решение**

In [53]:
# Твоё решение тут
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/zalig/cu-datasets/main/01_dirty_five_orders.csv")


# Привести к одному формату названия городов
df['City'] = (
    df['City'].str.lower()
    .str.replace('moscow', 'Москва')
    .str.replace('rostov-on-don', 'Ростов-на-Дону')
    .str.replace('rostovondon', 'Ростов-на-Дону')
    .str.replace('tver', 'Тверь')
)

# Разбить строки по запятой и создать новые строки
df = df.assign(orders=df['Orders'].str.split(',')).explode('orders')

# Удалить столбец Orders
df.drop(columns=['Orders'], inplace=True)
df.drop(columns=['OrdersSum'], inplace=True)

# Изменить Nan Comments на пустые строки
df['Comments'] = df['Comments'].fillna('')

# Удалить строки с отрицательными значениями
df = df[df['orders'].astype(int) > 0]
df = df[df['OrdersCount'].astype(int) > 0]
df.drop(columns=['OrdersCount'], inplace=True)


# Добавить новые строки в DataFrame
df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)

# Очистить пустые строки
df = df.dropna()

# Переименуем orders в Order
df = df.rename(columns={'orders': 'Order', 'Comments': 'Comment'})

# Переместим колонку Order влево для удобства
df = df[['City', 'Age', 'Order', 'Comment']]

# Переиндексация
df = df.reset_index(drop=True)

df

             City   Age Order               Comment
0          Москва  23.0   500
1          Москва  23.0   800
2          Москва  23.0   200
3          Москва  23.0  1200
4  Ростов-на-Дону  22.0   300
5  Ростов-на-Дону  22.0   200
6           Тверь  41.0   200  Доп.заказ на 500 руб
7           Тверь  41.0   300  Доп.заказ на 500 руб
8           Тверь  41.0   100  Доп.заказ на 500 руб

# Задача 10. Установи связь между статистиками датасета и его частей

Есть 300 наблюдений. По первым 100 наблюдениям найдены среднее $mean_{1}=40$, $sd_{1}=10$. По последним 200 наблюдениям найдены те же описательные статистики: $mean_{2}=90$, $sd_{2}=12$. Найди для всех 300 чисел, если это возможно:

1. (black, баллы: 0.3) Среднее.
2. (black, баллы: 0.7) Смещённое стандартное отклонение.

Подсказка: воспользуйся утверждением: $\sum(X_{i}-\overline{X})^{2}=\sum X_{i}^{2}-n\cdot\overline{X}^{2}$.

## 1. (black, баллы: 0.3) Среднее.

**Решение**

$$
\begin{gathered}
mean = \frac{mean_1 \cdot n_1 + mean_2 \cdot n_2}{n_1 + n_2} \\
mean = \frac{40 \cdot 100 + 90 \cdot 200}{300} = 73,(3)
\end{gathered}
$$

## 2. (black, баллы: 0.7) Смещённое стандартное отклонение.

   Подсказка: воспользуйся утверждением: $\sum(X_{i}-\overline{X})^{2}=\sum X_{i}^{2}-n\cdot\overline{X}^{2}$.

**Решение**

$$
\begin{gathered}
sd_1 = \sqrt{(\sum X_{i1}^2 - n_1 \cdot mean_1^2) \cdot \frac{1}{n_1}} \\
sd_2 = \sqrt{(\sum X_{i2}^2 - n_2 \cdot mean_2^2) \cdot \frac{1}{n_2}} \\
sd = \sqrt{(\sum X_{i}^2 - n \cdot \overline{X}^2) \cdot \frac{1}{n}}  = \sqrt{(\sum X_{i1}^2 +  \sum X_{i2}^2 -n \cdot mean^2) \cdot \frac{1}{n}} \\
\sum X_{i1}^2 = sd_1^2 \cdot n_1 + n_1 \cdot mean_1^2 = 10^2 \cdot 100 + 100 \cdot 40^2 = 170 000 \\
\sum X_{i2}^2 = sd_2^2 \cdot n_2 + n_2 \cdot mean_2^2 = 12^2 \cdot 200 + 200 \cdot 90^2 = 1 648 800 \\
sd = \sqrt{(170 000 + 1 648 800 - 300 \cdot 73,3^2) \cdot \frac{1}{300}} \approx 26
\end{gathered}
$$

# Задача 11. Проведи расчёты для кейса «Экспансия»

Датасет [expansion.csv](https://raw.githubusercontent.com/zalig/cu-datasets/main/expansion.csv) содержит информацию о приблизительно 2700 ритейлерах, работавших в России. Столбцы содержат данные о каждом ритейлере: специализацию, ценовые категории, регионы присутствия, страну и год основания, количество аутлетов в мире и России.

1. (black, баллы: 0.5) Проведи предобработку столбца presence_russia, создай столбец
presence_russia_combined, считая присутствие по собственным филиалам суммарно с франчайзинговыми.
2. (black, баллы: 0.5) Создай столбец presence_region_count — число регионов присутствия.
3. (black, баллы: 0.5) Построй таблицу, которая описывает количество аутлетов во всём датасете. Как именно описывать количество аутлетов (например, с помощью медианы, среднего, частот, максимума), определяй исходя из информативности и здравого смысла.
4. (black, баллы: 0.5) Построй таблицу, которая описывает количество аутлетов для каждого количества регионов присутствия.
5. (black, баллы: 0.5) Создай столбец presence_in_moscow.
6. (black, баллы: 0.5) Разбей presence_russia_combined на 4 категории так, чтобы в каждую попало одинаковое количество данных (или приблизительно одинаковое).
7. (black, баллы: 0.5) Построй таблицу, которая описывает присутствие в Москве аутлетов в зависимости от категории presence_russia_combined.

## 1. (black, баллы: 0.5) Предобработка столбца presence_russia.
Проведи предобработку столбца presence_russia, создай столбец presence_russia_combined, считая присутствие по собственным филиалам суммарно с франчайзинговыми.

**Решение**

In [9]:
# Твоё решение тут

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/zalig/cu-datasets/main/expansion.csv")

def process_presence_russia(value):
    if isinstance(value, str):
        if 'и' in str(value):
            parts = str(value).split(' и ')
            return int(parts[0]) + int(parts[1].split()[0])
        return int(value)
    elif isinstance(value, float):
        return value
    return None

df['presence_russia_combined'] = df['presence_russia'].apply(process_presence_russia)
df

,name,contry_origin,domain,price_category,founded,presence_world,presence_russia,presence_regions,presence_russia_combined
0,Tamaris,Германия,Обувь,Средний; Выше среднего,1967.0,1995.0,80 и 876 франчайзинговых,Москва; Санкт-Петербург; Барнаул; Бийск; Екате...,956.0
1,100 Столов,Россия,Мебель,Средний,2008.0,4.0,4,Брянск,4.0
2,1000 и одна сумка,Россия,Аксессуары,Ниже среднего; Средний,2003.0,NaN,69 и 45 франчайзинговых,Москва; Санкт-Петербург; Анапа; Армавир; Астра...,114.0
3,1000 и одна туфелька,Россия,Товары и услуги для детей,Средний,NaN,NaN,22,Санкт-Петербург,22.0
4,1001 Платье,Россия,Одежда,Средний,2008.0,14.0,14,Москва; Санкт-Петербург,14.0
...,...,...,...,...,...,...,...,...,...
2732,Яркий,Россия,Товары и услуги для детей,Ниже среднего; Средний,2011.0,10.0,10,Москва,10.0
2733,Яркий фотомаркет,Россия,"Сотовые телефоны, электроника, фото",Средний,1995.0,NaN,39,Москва; Санкт-Петербург; Ростов-на-Дону,39.0
2734,Ярмарка Мебели,Россия,Мебель,Ниже среднего; Средний,2008.0,NaN,31,Москва; Санкт-Петербург; Астрахань; Барнаул; Б...,31.0
2735,Ярче!,Россия,Продукты питания,Ниже среднего; Средний,2012.0,NaN,400,Москва; Балашиха; Барнаул; Бийск; Видное; Воло...,400.0
2736,ЯСАМ,Россия,Товары и услуги для детей,Ниже среднего,1998.0,NaN,23 и 25 франчайзинговых,Москва; Санкт-Петербург; Алушта; Железнодорожн...,48.0

## 2. (black, баллы: 0.5) Создание столбца presence_region_count.
Создай столбец presence_region_count — число регионов присутствия.

**Решение**

In [6]:
# Твоё решение тут

df['presence_region_count'] = df['presence_regions'].apply(lambda x: len(str(x).split(';')) if isinstance(x, str) else 0)

df

,name,contry_origin,domain,price_category,founded,presence_world,presence_russia,presence_regions,presense_region_count
0,Tamaris,Германия,Обувь,Средний; Выше среднего,1967.0,1995.0,956.0,Москва; Санкт-Петербург; Барнаул; Бийск; Екате...,25
1,100 Столов,Россия,Мебель,Средний,2008.0,4.0,4.0,Брянск,1
2,1000 и одна сумка,Россия,Аксессуары,Ниже среднего; Средний,2003.0,NaN,114.0,Москва; Санкт-Петербург; Анапа; Армавир; Астра...,61
3,1000 и одна туфелька,Россия,Товары и услуги для детей,Средний,NaN,NaN,22.0,Санкт-Петербург,1
4,1001 Платье,Россия,Одежда,Средний,2008.0,14.0,14.0,Москва; Санкт-Петербург,2
...,...,...,...,...,...,...,...,...,...
2732,Яркий,Россия,Товары и услуги для детей,Ниже среднего; Средний,2011.0,10.0,10.0,Москва,1
2733,Яркий фотомаркет,Россия,"Сотовые телефоны, электроника, фото",Средний,1995.0,NaN,39.0,Москва; Санкт-Петербург; Ростов-на-Дону,3
2734,Ярмарка Мебели,Россия,Мебель,Ниже среднего; Средний,2008.0,NaN,31.0,Москва; Санкт-Петербург; Астрахань; Барнаул; Б...,21
2735,Ярче!,Россия,Продукты питания,Ниже среднего; Средний,2012.0,NaN,400.0,Москва; Балашиха; Барнаул; Бийск; Видное; Воло...,61
2736,ЯСАМ,Россия,Товары и услуги для детей,Ниже среднего,1998.0,NaN,48.0,Москва; Санкт-Петербург; Алушта; Железнодорожн...,19

## 3. (black, баллы: 0.5) Построение таблицы с аутлаерами.
Построй таблицу, которая описывает количество аутлетов во всём датасете. Как именно описывать количество аутлетов (например, с помощью медианы, среднего, частот, максимума), определяй исходя из информативности и здравого смысла.

**Решение**

In [96]:
# Твоё решение тут

df['presence_world'].describe()

count     1161.000000
mean       502.593454
std       3538.428214
min          1.000000
25%          7.000000
50%         21.000000
75%         94.000000
max      60000.000000
Name: presence_world, dtype: float64

## 4. (black, баллы: 0.5) Аутлаеры в количестве регионов присутствия.
Построй таблицу, которая описывает количество аутлетов для каждого количества регионов присутствия.

**Решение**

In [7]:
# Твоё решение тут

df['presence_region_count'].describe()

count    2737.000000
mean       14.888929
std        26.614850
min         0.000000
25%         2.000000
50%         5.000000
75%        15.000000
max       271.000000
Name: presense_region_count, dtype: float64

## 5. (black, баллы: 0.5) Создание столбца.
Создай столбец presence_in_moscow.

**Решение**

In [15]:
# Твоё решение тут

df['presence_in_moscow'] = df['presence_regions'].apply(lambda x: 'Москва' in str(x))
df

,name,contry_origin,domain,price_category,founded,presence_world,presence_russia,presence_regions,presence_russia_combined,presence_russia_combined_category,presence_in_moscow
0,Tamaris,Германия,Обувь,Средний; Выше среднего,1967.0,1995.0,80 и 876 франчайзинговых,Москва; Санкт-Петербург; Барнаул; Бийск; Екате...,956.0,от 63,True
1,100 Столов,Россия,Мебель,Средний,2008.0,4.0,4,Брянск,4.0,до 8,False
2,1000 и одна сумка,Россия,Аксессуары,Ниже среднего; Средний,2003.0,NaN,69 и 45 франчайзинговых,Москва; Санкт-Петербург; Анапа; Армавир; Астра...,114.0,от 63,True
3,1000 и одна туфелька,Россия,Товары и услуги для детей,Средний,NaN,NaN,22,Санкт-Петербург,22.0,от 21 до 63,False
4,1001 Платье,Россия,Одежда,Средний,2008.0,14.0,14,Москва; Санкт-Петербург,14.0,от 8 до 21,True
...,...,...,...,...,...,...,...,...,...,...,...
2732,Яркий,Россия,Товары и услуги для детей,Ниже среднего; Средний,2011.0,10.0,10,Москва,10.0,от 8 до 21,True
2733,Яркий фотомаркет,Россия,"Сотовые телефоны, электроника, фото",Средний,1995.0,NaN,39,Москва; Санкт-Петербург; Ростов-на-Дону,39.0,от 21 до 63,True
2734,Ярмарка Мебели,Россия,Мебель,Ниже среднего; Средний,2008.0,NaN,31,Москва; Санкт-Петербург; Астрахань; Барнаул; Б...,31.0,от 21 до 63,True
2735,Ярче!,Россия,Продукты питания,Ниже среднего; Средний,2012.0,NaN,400,Москва; Балашиха; Барнаул; Бийск; Видное; Воло...,400.0,от 63,True
2736,ЯСАМ,Россия,Товары и услуги для детей,Ниже среднего,1998.0,NaN,23 и 25 франчайзинговых,Москва; Санкт-Петербург; Алушта; Железнодорожн...,48.0,от 21 до 63,True

## 6. (black, баллы: 0.5) Разбиение столбца на категории.
Разбей presence_russia_combined на 4 категории так, чтобы в каждую попало одинаковое количество данных (или приблизительно одинаковое).

**Решение**

In [13]:
# Твоё решение тут

q1 = int(df['presence_russia_combined'].quantile(0.25))
q2 = int(df['presence_russia_combined'].quantile(0.5))
q3 = int(df['presence_russia_combined'].quantile(0.75))

def categorize_presence_russia_combined(value):
    if value <= q1:
        return f'до {q1}'
    elif value <= q2:
        return f'от {q1} до {q2}'
    elif value <= q3:
        return f'от {q2} до {q3}'
    return f'от {q3}'

df['presence_russia_combined_category'] = df['presence_russia_combined'].apply(categorize_presence_russia_combined)
df

,name,contry_origin,domain,price_category,founded,presence_world,presence_russia,presence_regions,presence_russia_combined,presence_russia_combined_category
0,Tamaris,Германия,Обувь,Средний; Выше среднего,1967.0,1995.0,80 и 876 франчайзинговых,Москва; Санкт-Петербург; Барнаул; Бийск; Екате...,956.0,от 63
1,100 Столов,Россия,Мебель,Средний,2008.0,4.0,4,Брянск,4.0,до 8
2,1000 и одна сумка,Россия,Аксессуары,Ниже среднего; Средний,2003.0,NaN,69 и 45 франчайзинговых,Москва; Санкт-Петербург; Анапа; Армавир; Астра...,114.0,от 63
3,1000 и одна туфелька,Россия,Товары и услуги для детей,Средний,NaN,NaN,22,Санкт-Петербург,22.0,от 21 до 63
4,1001 Платье,Россия,Одежда,Средний,2008.0,14.0,14,Москва; Санкт-Петербург,14.0,от 8 до 21
...,...,...,...,...,...,...,...,...,...,...
2732,Яркий,Россия,Товары и услуги для детей,Ниже среднего; Средний,2011.0,10.0,10,Москва,10.0,от 8 до 21
2733,Яркий фотомаркет,Россия,"Сотовые телефоны, электроника, фото",Средний,1995.0,NaN,39,Москва; Санкт-Петербург; Ростов-на-Дону,39.0,от 21 до 63
2734,Ярмарка Мебели,Россия,Мебель,Ниже среднего; Средний,2008.0,NaN,31,Москва; Санкт-Петербург; Астрахань; Барнаул; Б...,31.0,от 21 до 63
2735,Ярче!,Россия,Продукты питания,Ниже среднего; Средний,2012.0,NaN,400,Москва; Балашиха; Барнаул; Бийск; Видное; Воло...,400.0,от 63
2736,ЯСАМ,Россия,Товары и услуги для детей,Ниже среднего,1998.0,NaN,23 и 25 франчайзинговых,Москва; Санкт-Петербург; Алушта; Железнодорожн...,48.0,от 21 до 63

## 7. (black, баллы: 0.5) Таблица присутствия по категориям.
Построй таблицу, которая описывает присутствие в Москве аутлетов в зависимости от категории presence_russia_combined.

**Решение**

In [16]:
# Твоё решение тут

df.groupby('presence_russia_combined_category')['presence_in_moscow'].value_counts()

presence_russia_combined_category  presence_in_moscow
до 8                               True                  360
                                   False                 322
от 21 до 63                        True                  425
                                   False                 244
от 63                              True                  507
                                   False                 208
от 8 до 21                         True                  410
                                   False                 261
Name: count, dtype: int64

# Задача 12. Предложи направления исследования для кейса «Экспансия»


В кейсе «Экспансия» нужно будет взять датасет [expansion.csv](https://raw.githubusercontent.com/zalig/cu-datasets/main/expansion.csv) из предыдущей задачи и сделать слайды о том, как выглядит экспансия ритейлеров в регионы: как по мере увеличения количества франчайзинговых точек ритейлеры выбирают регионы для их открытия. Возможно, стратегия экспансии зависит от специализации ритейлера.

(black, баллы: 0.8) Предложи способ исследования экспансии:

- Придумай, какие описательные статистики могли бы помочь решить кейс.
- Придумай, в какие таблицы эти статистики можно было бы оформить.
- Придумай хотя бы 2 таблицы.
  
  Опиши таблицы и укажи, что будет в строках и столбцах и какие статистики будут в ячейках. Если используешь относительную частоту, указывай относительно чего найдена эта частота: что в числителе, а что в знаменателе.

  Опиши, как таблица поможет ответить на вопрос об экспансии, когда она будет вычислена и представлена на слайде презентации.

Никаких расчётов проводить не требуется... пока.

**Решение**

**Таблица 1.** Среднее количество аутлетов в странах в зависимости от специализации ритейлера.
Данная статистика поможет понять, какие ритейлеры более активно развиваются в разных странах. Строки таблицы будут содержать специализацию ритейлера, а столбцы — среднее количество аутлетов в стране. Эта таблица поможет понять, какие ритейлеры более активно развиваются в разных странах. 

**Таблица 2.** Частота присутствия в регионах россии. Отношение presence_russia_combined к presence_world. Позволит узнать какие аутлеты более ориентированы на российский рынок.

In [ ]:
# Твоё решение тут

# Задача 13. Установи связь между стандартным отклонением и интервалом значений

Эта задача покажет связь частот со статистиками, основанными на среднем (среднее, среднее абсолютное отклонение, смещённое стандартное отклонение).

Все $N$ чисел в столбце данных $X$ неотрицательные.

1. (black, баллы: 0.5) Среднее равно 10. Докажи, что относительная частота события $X \geqslant 20$ всегда не превосходит $1/2$, какими бы ни были $X$.

2. (black, баллы: 0.5) Среднее равно 10. Придумай набор чисел для $X$, чтобы относительная частота $X \geqslant 20$ равнялась $1/2$.

3. (black, баллы: 0.5) Докажи, что относительная частота события $X \geqslant c \cdot mean(X)$ всегда не превосходит $1/c$, при $c > 1$.

4. (black, баллы: 0.5) Среднее равно 10. Среднее абсолютное отклонение равно 2. Докажи, что относительная частота события $4 < X < 16$ всегда не менее $2/3$, какими бы ни были $X$.

5. (black, баллы: 0.5) Среднее равно 10. Среднее абсолютное отклонение равно 2. Придумай набор чисел для $X$, чтобы относительная частота $4 < X < 16$ равнялась $2/3$.

6. (black, баллы: 0.5) Докажи, что относительная частота события $mean(X) - c \cdot MAD(X) < X < mean(X) + c \cdot MAD(X)$ не менее $1 - 1/c$, при $c > 1$.

   Подсказка: перейди от $X$ к $Y = |X - mean(X)|$ и заметьте, что $MAD(X) = mean(Y)$.

7. (black, баллы: 0.5) Твоя знакомая рассказала «правило трёх сигм»: относительная частота события $mean(X) - 3 \cdot SD(X) < X < mean(X) + 3 \cdot SD(X)$ не меньше $0.997$. Ты хочешь произвести впечатление и опровергнуть это утверждение наглядно и убедительно. Приведи пример столбца данных $X$, для которого $mean(X) = 10$, $SD(X) = 3$, и при этом событие $10 - 3 \cdot 3 < X < 10 + 3 \cdot 3$ происходит с частотой не больше $0.9$.

8. (black, баллы: 0.5) Докажи, что относительная частота события $mean(X) - 3 \cdot SD(X) < X < mean(X) + 3 \cdot SD(X)$ всегда не менее $8/9$, какими бы ни были данные в $X$.

9. (black, баллы: 0.5) Что можно утверждать наверняка про относительную частоту события $mean(X) - c \cdot SD(X) < X < mean(X) + c \cdot SD(X)$ при $c > 0$?

## 1. (black, баллы: 0.5) Относительная частота не превосходит значение.
Среднее равно 10. Докажи, что относительная частота события $X \geqslant 20$ всегда не превосходит $1/2$, какими бы ни были $X$.

**Решение**

In [ ]:
# Твоё решение тут

## 2. (black, баллы: 0.5) Относительная частота равняется числу.
Среднее равно 10. Придумай набор чисел для $X$, чтобы относительная частота $X \geqslant 20$ равнялась $1/2$.

**Решение**

In [ ]:
# Твоё решение тут

## 3. (black, баллы: 0.5) Относительная частота не превосходит параметр.
Докажи, что относительная частота события $X \geqslant c \cdot mean(X)$ всегда не превосходит $1/c$, при $c > 1$.

**Решение**

In [ ]:
# Твоё решение тут

## 4. (black, баллы: 0.5) Относительная частота не превосходит значение (значения события в иинтервале).
Среднее равно 10. Среднее абсолютное отклонение равно 2. Докажи, что относительная частота события $4 < X < 16$ всегда не менее $2/3$, какими бы ни были $X$.

**Решение**

In [ ]:
# Твоё решение тут

## 5. (black, баллы: 0.5) Относительная частота не превосходит значение (значения события в интервале).
Среднее равно 10. Среднее абсолютное отклонение равно 2. Придумай набор чисел для $X$, чтобы относительная частота $4 < X < 16$ равнялась $2/3$.

**Решение**

In [ ]:
# Твоё решение тут

## 6. (black, баллы: 0.5) Относительная частота не равна значению (значения события в интервале).
Докажи, что относительная частота события $mean(X) - c \cdot MAD(X) < X < mean(X) + c \cdot MAD(X)$ не менее $1 - 1/c$ при $c > 1$.

Подсказка: перейди от $X$ к $Y = |X - mean(X)|$ и заметь, что $MAD(X) = mean(Y)$.

**Решение**

In [ ]:
# Твоё решение тут

## 7. (black, баллы: 0.5) Опровержение «правила трёх сигм» с помощью примера данных
Твоя знакомая рассказала «правило трёх сигм»: относительная частота события $mean(X) - 3 \cdot SD(X) < X < mean(X) + 3 \cdot SD(X)$ не меньше $0.997$.

Ты хочешь произвести впечатление и опровергнуть это утверждение наглядно и убедительно. Приведи пример столбца данных $X$, для которого $mean(X) = 10$, $SD(X) = 3$, и при этом событие $10 - 3 \cdot 3 < X < 10 + 3 \cdot 3$ происходит с частотой не больше $0.9$.

**Решение**

In [ ]:
# Твоё решение тут

## 8. (black, баллы: 0.5) Относительная частота и «правило трёх сигм».
Докажи, что относительная частота события $mean(X) - 3 \cdot SD(X) < X < mean(X) + 3 \cdot SD(X)$ всегда не менее $8/9$, какими бы ни были данные в $X$.

**Решение**

In [ ]:
# Твоё решение тут

## 9. (black, баллы: 0.5) Утверждение про относительную частоту.
Что можно утверждать наверняка про относительную частоту события $mean(X) - c \cdot SD(X) < X < mean(X) + c \cdot SD(X)$ при $c > 0$?

**Решение**

In [ ]:
# Твоё решение тут